{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>{{post.title}}</h3>
        난이도 : {% if post.difficulty == 'easy' %}쉬움
                {% elif post.difficulty == 'normal' %}보통
                {% elif post.difficulty == 'hard' %}어려움
                {% endif %}
        세션 날짜 : {{post.pub_date}}
        <hr/>
        <p>{{post.content}}</p>

        <!-- 로그인한 유저가 작성한 글만 수정/삭제 가능 -->
        {% if post.author == request.user %}  
            <a href="{% url 'users:edit' post.id %}">글 수정하기</a>
            <a href="{% url 'users:delete' post.id %}">글 삭제하기</a>
        {% endif %}
    <br>
{% endblock %}