{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>수정중..!</h2>
<form action="{% url 'main:update' post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>N주차 : <input type="text" name="title" value="{{post.title}}"></p>
    
    <p>난이도 :
    <select name="difficulty">
        <option value="easy">쉬움</option>
        <option value="normal" selected>보통</option>
        <option value="hard">어려움</option>
    </select>
    </p>
    
    <p>내용 : <textarea type="text" name="content" id="" cols="30" rows="10">{{post.content}}</textarea></p>
    <button type="submit">제출</button>
</form>
{% endblock %}